@import url("https://fonts.googleapis.com/css2?family=Poiret+One&display=swap");

* {
  font-family: "Poiret One", cursive;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ol,
ul {
  list-style: none;
}

/* logo style */
h1 {
  position: fixed;
  top: 20px;
  right: 20px;
}

h1 img {
  box-shadow: 5px 5px 3px #888;
}

/* sns style */
.sns {
  position: fixed;
  left: 60px;
  top: 30px;
}

.sns li {
  float: left;
  margin-right: 30px;
}

.sns li i:hover {
  transition: scale(1.2);
}

.sns li i {
  font-size: 25px;
  color: #fff;
  transition: all 0.4s;
}

/* slogan style */
.txt {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  right: 20px;
  text-align: right;
  font-size: 100px;
  color: #fff;
  line-height: 0.5;
}

.txt span {
  color: #aaa;
}

.txt em {
  font-size: 18px;
  color: #888;
  font-style: normal;
  font-weight: bold;
  font-family: arial;
}

/* portfolio gallery box style */
section {
  position: fixed;
  height: 500px;
  width: 4600px;
  top: 50%;
  transform: translateY(-50%);
}

article {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  width: 180px;
  height: 400px;
  margin: 10px;
  box-sizing: border-box;
  background: #fff;
  float: left;
  border-radius: 5px;
  box-shadow: 3px 3px 3px #bbb;
  overflow: hidden;
}
