@import url("https://fonts.googleapis.com/css2?family=Poiret+One&display=swap");

/* reset css */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

body {
  font-family: "Poiret One", cursive;
  width: 100%;
  height: 4000px;
  background: #ddd;
}

/* header style */
header h1 {
  position: fixed;
  top: 20px;
  right: 20px;
  box-shadow: 3px 3px 3px #bbb;
}

header div {
  position: fixed;
  top: 30px;
  left: 60px;
}

header div a {
  margin-right: 30px;
}

header div a .fa {
  font-size: 25px;
  color: white;
  transition: all 0.4s;
}

header div a .fa:hover {
  transform: scale(1.2);
}

.txt {
  position: fixed;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  font-size: 100px;
  color: white;
  text-align: right;
  line-height: 57px;
}

.txt span {
  color: #aaa;
}

em {
  font-family: "arial";
  font-size: 18px;
  color: #888;
  font-style: normal;
}

/* portfolio gallery box style */
section {
  position: fixed;
  height: 500px;
  width: 4600px;
  top: 50%;
  transform: translateY(-50%);
}

article {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  width: 180px;
  height: 400px;
  margin: 10px;
  box-sizing: border-box;
  background: #fff;
  float: left;
  border-radius: 5px;
  box-shadow: 3px 3px 3px #bbb;
  overflow: hidden;
}
